.dropdown-item:active {
  background-color: #f07e0b !important;
  color: #fff !important;
}

.dropdown-item:active i {
  color: #fff !important;
}

.citas-dia-container,
.citas-container {
  margin-bottom: 3.7rem;
}

.cita-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 18px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 12px;
}

.cita-container.cita-cancelado {
  border-left: 10px solid #48B02C;
}

.cita-container.cita-pendiente {
  border-left: 10px solid #f07e0b;
}

.cita-grupos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cita-grupo {
  display: flex;
  align-items: center;
}

.cita-container .cita-paciente {
  margin-right: 16px;
}

.cita-container .cita-time {
  display: flex;
  flex-direction: column;
  padding-right: 18px;
  margin-right: 16px;
}

.cita-container.cita-cancelado .cita-time {
  border-right: 1px solid #48B02C;
}

.cita-container.cita-pendiente .cita-time {
  border-right: 1px solid #f07e0b;
}

.cita-actual {
  margin-bottom: 20px;
}

.circulo-check {
  border: 0.5px solid #76869e;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.circulo-check.activo {
  background: #76869e;
}

.botones-asistio {
  align-items: center;
  justify-content: end;
  display: flex;
  margin-bottom: 12px;
  gap: 22px;
}

.boton-asistio {
  display: flex;
  gap: 6px;
  font-weight: bold;
}