.dropdown-item:active {
  background-color: #f07e0b !important;
  color: #fff !important;
}

.dropdown-item:active i {
  color: #fff !important;
}

.cita-container.cita-asistio .cita-content {
  background-color: #48b02c10;
}

.cita-container.cita-no-asistio .cita-content {
  background-color: #e5252a12;
}

.cita-content.cita-cancelado {
  border-left: 10px solid #48B02C;
}

.cita-content.cita-pendiente {
  border-left: 10px solid #f07e0b;
}

.cita-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 18px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 12px;
}

.cita-grupos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cita-grupo {
  display: flex;
  align-items: center;
}

.cita-content .cita-paciente {
  margin-right: 16px;
}

.cita-content .cita-time {
  display: flex;
  flex-direction: column;
  padding-right: 18px;
  margin-right: 16px;
}

.cita-content.cita-cancelado .cita-time {
  border-right: 1px solid #48B02C;
}

.cita-content.cita-pendiente .cita-time {
  border-right: 1px solid #f07e0b;
}

.cita-content.cita-asistio .cita-time {
  border-right: 1px solid #48B02C;
}

.cita-content.cita-no-asistio .cita-time {
  border-right: 1px solid #e5252a;
}

.cita-actual {
  margin-bottom: 20px;
}

.botones-asistio {
  align-items: center;
  justify-content: start;
  display: flex;
  margin-bottom: 12px;
  gap: 12px;
}