.dropdown-item:active {
  background-color: #f07e0b !important;
  color: #fff !important;
}

.dropdown-item:active i {
  color: #fff !important;
}

.modal-cita-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 28px;
  align-items: center;
  border-bottom: 0.25px solid #76869e35;
}

.subtitulo {
  color: #76869e;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.cita-container.cita-asistio .cita-content {
  background-color: #48b02c10;
}

.cita-container.cita-no-asistio .cita-content {
  background-color: #e5252a12;
}

.cita-content.cita-cancelado {
  border-left: 10px solid #48B02C;
}

.cita-content.cita-pendiente {
  border-left: 10px solid #f07e0b;
}

.cita-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 18px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.cita-grupos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cita-grupo {
  display: flex;
  align-items: center;
}

.cita-content .cita-paciente {
  margin-right: 16px;
}

.cita-content .cita-time {
  display: flex;
  flex-direction: column;
  padding-right: 18px;
  margin-right: 16px;
}

.cita-content .cita-time {
  border-right: 0.5px solid #76869e;
}

.cita-actual {
  margin-bottom: 20px;
}

.botones-asistio {
  align-items: center;
  justify-content: start;
  display: flex;
  margin-bottom: 42px;
  gap: 12px;
}

.botones-asistio button {
  width: 100%;
  padding-block: 2px;
  border: none;
  justify-content: start;
  display: flex;
  align-items: center;
}

.botones-asistio button span {
  justify-content: center;
  color: #fff;
  display: flex;
  width: 100%;
}

.botones-asistio #btnAsistio {
  background-color: #48B02C;
}

.botones-asistio #btnNoAsistio {
  background-color: #e5252a;
}

.botones-asistio #btnAsistio:hover {
  background-color: #3a9e1e;
}

.botones-asistio #btnNoAsistio:hover {
  background-color: #ca171d;
}