@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: rgb(93, 109, 132);
}

body {
  background-color: rgb(249, 251, 252);
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: rgb(93, 109, 132);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

.caja-principal {
  display: flex;
}

.lado-izquierdo {
  width: 5%;
  padding: 0;
  position: relative;
  z-index: 3;
}

.lado-derecho {
  width: 95%;
  padding: 0;
}

.modal-content {
  padding: 30px;
}

.modal-footer {
  background-color: transparent;
  border: none;
  padding: 0;
}

#formUsuario label {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}

#formUsuario label span {
  color: #e5252a;
  font-size: 14px;
  font-weight: 600;
  margin-right: 2px;
}

#formUsuario input,
#formUsuario select {
  background-color: #f2f2f2;
  border: none;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}

#formUsuario input:focus,
#formUsuario select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#togglePassword {
  border: 0.5px solid #f2f2f2;
  background: #f2f2f2;
}

#togglePassword i {
  color: #666666;
}

#togglePassword i:hover {
  color: #666666;
}

.btn-cancelar {
  background: none;
  color: #666666;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #666666;
}

.btn-guardar {
  background: #f07e0b;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.btn-cancelar:hover {
  background: none;
  color: #666666;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #666666;
}

.btn-cancelar:active {
  background: none !important;
  color: #666666 !important;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #666666;
}

.btn-guardar:active {
  background: #f07e0b !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.btn-guardar:hover {
  background: #f07e0b !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

#botonesModal {
  display: flex;
  gap: 20px;
}

.title-span {
  color: #76869e;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #76869e;
  margin-bottom: 1rem;
}

.mensaje-alert {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  top: 4%;
  left: 50%;
  background: #fff;
  z-index: 9999;
  border-radius: 5px;
}

.alert-success {
  background-color: #48b02c2b !important;
  color: #2e7d32 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  width: max-content;
  border: none;
  margin: 0 !important;
}

.alert-danger {
  background-color: #c42d352b !important;
  color: #c42d35 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  width: max-content;
  border: none;
  margin: 0 !important;
}

.svg-x-end {
  display: flex;
  justify-content: flex-end;
}

.svg-x {
  width: 20px;
}