body {
  margin: 0;
  padding: 0;
}

.caja-principal {
  display: flex;
}
.lado-izquierdo {
  width: 5%;
  padding: 0;
  position: relative;
  z-index: 3;
}

.lado-derecho {
  width: 95%;
  padding: 0;
}

.modal-content {
  padding: 30px;
}

.modal-footer {
  background-color: transparent;
  border: none;
  padding: 0;
}

#formUsuario label {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}

#formUsuario label span {
  color: #e5252a;
  font-size: 14px;
  font-weight: 600;
}

#formUsuario input,
#formUsuario select {
  background-color: #f2f2f2;
  border: none;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}

#formUsuario input:focus,
#formUsuario select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#togglePassword {
  border: 0.5px solid #f2f2f2;
  background: #f2f2f2;
}

#togglePassword i {
  color: #666666;
}

#togglePassword i:hover {
  color: #666666;
}

.btn-cancelar {
  background: none;
  color: #666666;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #666666;
}

.btn-guardar {
  background: #f07e0b;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.btn-cancelar:hover {
  background: none;
  color: #666666;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #666666;
}

.btn-cancelar:active {
  background: none !important;
  color: #666666 !important;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #666666;
}

.btn-guardar:active {
  background: #f07e0b !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.btn-guardar:hover {
  background: #f07e0b !important;
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

#botonesModal {
  display: flex;
  gap: 20px;
}

.title-span {
  color: #76869e;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #76869e;
  margin-bottom: 1rem;
}

.alert-success {
  background-color: #48b02c2b !important;
  color: #2e7d32 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  width: max-content;
  border: none;
}

.alert-danger {
  background-color: #c42d352b !important;
  color: #c42d35 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  width: max-content;
  border: none;
}
